NEWS_API_KEYS=713786ae4667478c9134d4192e60c42b
LLM_API_KEY=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